# Programming for Data Analysis Project 2018.

# Introduction.

### Importing Libraries.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

# 1. Choose a phenomenon.
Choose a real world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.

### 1.1 What  & Why?

### 1.2 The use of evidence.

# 2. Investigation of variables.
Investigate the types of variables involved, their likely distribution and their relationship with each other.

### 2.1 Beats Per MInute.
The speed a player can play 16th notes.

This variable is a non negative number.

### 2.2 Average Daily Practice Time.
The average time spent per day practicing the instrument.

Variable is time in minutes and is a non negative number.

### 2.3 Technical Practice.
How much time (in minutes) do players spend on focused technical practice only.

Variable in time. A non negative number, in minutes.
The is a high correlation between this variable and BPM.

### 2.4 Length of Time Playing.
Number of years playing.
Variable is a non negative number in years.

### 2.5 The Sample Dataset.

In [2]:
# List of Guitar Players. Some famous, some not so famous!
player = ['Guthrie Govan', 'Steve Vai', 'Jess Lewis', 'Al Joseph', 'Martin Miller', 'Jake Wilson', 'Jennifer Batten'
          ,'Joe Satriani', 'Andy James', 'Me', 'Pat Sheil', 'Aidan Conlon', 'Declan Collins', 'Adrian Connaire', 
          'Phillip Joyce', 'John McNamee', 'Michael Kelly', 'Sean Dunne', 'Glenn Burke', 'Nick Morahan']

In [3]:
# Series of values for 'bpmp' which stands for Beats Per Minute Players.
bpmp = pd.Series([200, 200, 160, 180, 200, 160, 180, 170, 170, 110, 86, 144, 98, 90, 130, 72, 98, 80, 140, 138])

In [4]:
# Series of values for 'tp'. This variable is Technical Practice. Time spent in minutes.
tp = pd.Series([90, 90, 50, 60, 60, 50, 50, 60, 60, 15, 15, 20, 10, 10, 20, 10, 10, 10, 15, 30])

In [5]:
# Series of values for 'daily'. This is the amount of time in minutes spent practicing each day.
daily = pd.Series([300, 600, 240, 300, 300, 300, 180, 180, 180, 30, 90, 120, 70, 60, 60, 30, 30, 45, 60, 70])

In [6]:
# Series of values for 'years'. The number of years playing the instrument.
years = pd.Series([43, 45, 10, 10, 8, 9, 40, 48, 18, 30, 15, 26, 25, 34, 16, 4, 7, 8, 20, 8])

In [7]:
# Create a dictonary called 'sample'. Contains all the list created above.
sample = {'Players':player, 'BPM':bpmp, 'Technical Practice':tp, 'Daily Practice':daily, 'Years':years}

In [8]:
# Created a DataFrame called 'baseline'. Populated it with the data in the dictonary called 'samples'.
baseline = pd.DataFrame(sample)

In [9]:
# Displaying the 'baseline' DataFrame.
baseline

            Players  BPM  Technical Practice  Daily Practice  Years
0     Guthrie Govan  200                  90             300     43
1         Steve Vai  200                  90             600     45
2        Jess Lewis  160                  50             240     10
3         Al Joseph  180                  60             300     10
4     Martin Miller  200                  60             300      8
5       Jake Wilson  160                  50             300      9
6   Jennifer Batten  180                  50             180     40
7      Joe Satriani  170                  60             180     48
8        Andy James  170                  60             180     18
9                Me  110                  15              30     30
10        Pat Sheil   86                  15              90     15
11     Aidan Conlon  144                  20             120     26
12   Declan Collins   98                  10              70     25
13  Adrian Connaire   90                  10              60     34
14    Phillip Joyce  130                  20              60     16
15     John McNamee   72                  10              30      4
16    Michael Kelly   98                  10              30      7
17       Sean Dunne   80                  10              45      8
18      Glenn Burke  140                  15              60     20
19     Nick Morahan  138                  30              70      8

In [10]:
# Run the pandas command 'describe' on the 'baseline' DataFrame.
baseline.describe()

              BPM  Technical Practice  Daily Practice      Years
count   20.000000            20.00000       20.000000  20.000000
mean   140.300000            36.75000      162.250000  21.200000
std     42.788464            27.10967      144.390507  14.307157
min     72.000000            10.00000       30.000000   4.000000
25%     98.000000            13.75000       60.000000   8.750000
50%    142.000000            25.00000      105.000000  17.000000
75%    172.500000            60.00000      255.000000  31.000000
max    200.000000            90.00000      600.000000  48.000000

#### What is Correlation.
The correlation is a statistical measure of the strength of the relationship between two variables. It determines the degree to which two or more random vaiables move in tandem. For example a movement in one variable is reciprocated by a movement, either positive or negative, in another variable then the two variables are said to be correlated (keydifferences.com,2018).

Variables can have either a Positive Correlation or a Negative Correlation. When a positive change in one variable results in a positive change in a second variable they are said to be Positively Correlated. When a change in one variable results in a movement in the opposite direction of the other variable they are said to be Negatively Correlated. Correlation values are between +1 and -1. A correlation close to +1 indicates a strong positive relationship and a correlation close to -1 indicates a strong negative relationship (keydifferences.com,2018).

In [11]:
baseline['BPM'].corr(baseline['Technical Practice'])

0.9128778225354373

In [12]:
baseline['BPM'].corr(baseline['Daily Practice'])

0.7996348049300531

In [13]:
baseline['BPM'].corr(baseline['Years'])

0.3795573454091754

In [14]:
baseline.corr()

                         BPM  Technical Practice  Daily Practice     Years
BPM                 1.000000            0.912878        0.799635  0.379557
Technical Practice  0.912878            1.000000        0.888711  0.429208
Daily Practice      0.799635            0.888711        1.000000  0.337728
Years               0.379557            0.429208        0.337728  1.000000

#### What is Covariance.
The covariance is a statistical measure of a systematic relationship between two variables. A change in one variable is reciprocated by an equivalent change in the other variable. It ascertains the linear relationship between the variables. The covariance can be either positive or negative. Where the covariance is 0 there is no relationsip between the variables (keydifferences.com,2018). Closely related to covariance is correlation.

In [15]:
baseline['BPM'].cov(baseline['Technical Practice'])

1058.921052631579

In [16]:
baseline['BPM'].cov(baseline['Daily Practice'])

4940.3421052631575

In [17]:
baseline['BPM'].cov(baseline['Years'])

232.3578947368421

In [18]:
baseline.cov()

,BPM,Technical Practice,Daily Practice,Years
BPM,1830.852632,1058.921053,4940.342105,232.357895
Technical Practice,1058.921053,734.934211,3478.750000,166.473684
Daily Practice,4940.342105,3478.750000,20848.618421,697.684211
Years,232.357895,166.473684,697.684211,204.694737

Add a graphic corr matrix. ideas here.
https://stackoverflow.com/questions/29432629/correlation-matrix-using-pandas

Idea for display
http://benalexkeen.com/correlation-in-python/

Add commentary on the correnaltion matrix, is this what I expected? 

This is the place for "my thoughts".

### Mistake!
One mistake I made when completing the DataFrame was outting the intergers into lists instead of Series. Using the list method like I did with the players names. When I tried to carry out any calculations on the DataFrame I kept getting errors. It took at lot of head scratching and trying diferent thing before I realised my mistake!!!

# 3. Synthesise a data set.
Synthesise / simulate a date set as closely matching their properties as possible.

Problem with this approach - Not convinced that the data is correctly correlated.

In [29]:
np.random.seed(80)

a1 = np.array([72, 200])
b1 = np.array([10, 90])
c1 = np.array([30, 600])
d1 = np.array([4, 48])

means = [a1.mean(), b1.mean(), c1.mean(), d1.mean()]  
stds = [42.788 / 3, 27.109 / 3, 144.390 / 3, 14.307 / 3]

covs = ([[1830.852, 1058.921, 4940.342,  232.357],
         [1085.921, 734.934,  3478.750,  166.473],
         [4940.342, 3748.750, 20848.618, 697.684],
         [232.357,  166.473,  697.684,   204.694]])

m = np.random.multivariate_normal(means, covs, 5)
m

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: RuntimeWarning: covariance is not symmetric positive-semidefinite.
  app.launch_new_instance()

array([[ 63.89885896,   4.03507329,  42.21320833,   3.13455185],
       [108.62741696,  45.86343389, 279.19825581,  30.08985592],
       [163.34066816,  76.99352692, 395.06604996,  24.81721333],
       [139.49923059,  51.73171093, 375.00818057,  33.48729382],
       [151.22907676,  87.23897829, 498.06505711,  37.63484576]])

In [44]:
np.random.seed(80)

a1 = np.array([72, 200])
b1 = np.array([10, 90])
c1 = np.array([30, 600])
d1 = np.array([4, 48])

means = [a1.mean(), b1.mean()]  
stds = [a1.std() / 3, b1.std() / 3]
corr = 0.912878         # correlation
covs = [[stds[0]**2          , stds[0]*stds[1]*corr], 
        [stds[0]*stds[1]*corr,           stds[1]**2]] 

m = np.random.multivariate_normal(means, covs, 5)

means2 = [a1.mean(), c1.mean()]  
stds2 = [a1.std() / 3, c1.std() / 3]
corr2 = 0.799635         # correlation
covs2 = [[stds[0]**2          , stds[0]*stds[1]*corr2], 
        [stds[0]*stds[1]*corr2,           stds[1]**2]] 

n = np.random.multivariate_normal(means2, covs2, 5)

means3 = [a1.mean(), d1.mean()]  
stds3 = [a1.std() / 3, d1.std() / 3]
corr3 = 0.379557         # correlation
covs3 = [[stds[0]**2          , stds[0]*stds[1]*corr3], 
        [stds[0]*stds[1]*corr3,           stds[1]**2]] 

o = np.random.multivariate_normal(means3, covs3, 5)

In [71]:
m

array([[ 95.22608788,  26.69448008],
       [119.87796029,  33.86423115],
       [128.74552493,  48.95269001],
       [152.53998224,  54.20066629],
       [149.17909763,  55.95040551]])

In [38]:
means3

[136.0, 26.0]

In [39]:
means2

[136.0, 315.0]

In [72]:
np.random.seed(80)

bpm = np.array([72, 200])
tech = np.array([10, 90])
dai = np.array([30, 600])
yea = np.array([4, 48])

mean1 = [bpm.mean(), tech.mean()]  
std1 = [bpm.std() / 3, tech.std() / 3]
corr1 = 0.912878         # correlation
covs1 = [[stds[0]**2          , stds[0]*stds[1]*corr], 
        [stds[0]*stds[1]*corr,           stds[1]**2]] 

tp = np.random.multivariate_normal(means, covs, 10)

means2 = [bpm.mean(), dai.mean()]  
stds2 = [bpm.std() / 3, dai.std() / 3]
corr2 = 0.799635         # correlation
covs2 = [[stds[0]**2          , stds[0]*stds[1]*corr2], 
        [stds[0]*stds[1]*corr2,           stds[1]**2]] 

dp = np.random.multivariate_normal(means2, covs2, 10)

means3 = [bpm.mean(), yea.mean()]  
stds3 = [bpm.std() / 3, yea.std() / 3]
corr3 = 0.379557         # correlation
covs3 = [[stds[0]**2          , stds[0]*stds[1]*corr3], 
        [stds[0]*stds[1]*corr3,           stds[1]**2]] 

yr = np.random.multivariate_normal(means3, covs3, 10)

In [73]:
tp

array([[ 95.22608788,  26.69448008],
       [119.87796029,  33.86423115],
       [128.74552493,  48.95269001],
       [152.53998224,  54.20066629],
       [149.17909763,  55.95040551],
       [134.10867911,  39.02146391],
       [143.17043141,  56.76018465],
       [143.23277467,  60.71276623],
       [159.68303646,  69.60674354],
       [157.54659878,  53.2881205 ]])

In [79]:
df1 = pd.DataFrame(tp)

In [82]:
df2 = pd.DataFrame(dp)

In [84]:
df3 = pd.DataFrame(yr)

In [85]:
df1.join(df2,)

ValueError: columns overlap but no suffix specified: RangeIndex(start=0, stop=2, step=1)

#### Names
Started by faking up 250 names, I didn't need to add in hte names but I felt it added an air of authenticity to the data set. For the first names I used 50 male and 50 female names, in the spirit of equality!

In [20]:
# Created two lists. One of first names and one of second names. There are 100 names in each list.
first_names = ['John', 'Mary', 'James', 'Patricia', 'Robert', 'Jennifer', 'Michael', 'Linda', 'William', 
               'Elizabeth', 'David', 'Barbara', 'Richard', 'Susan', 'Joseph', 'Jessica', 'Thomas', 'Sarah', 
               'Charles', 'Margaret', 'Christopher', 'Karen', 'Daniel', 'Nancy', 'Matthew', 'Lisa', 'Anthony',
               'Betty', 'Donald', 'Dorothy', 'Mark', 'Sandra', 'Paul', 'Ashley', 'Steven', 'Kimberly', 'Andrew', 
               'Donna', 'Kenneth', 'Emily', 'George', 'Carol', 'Joshua', 'Michelle', 'Kevin', 'Amanda', 'Brian', 
               'Melissa', 'Edward', 'Deborah', 'Ronald', 'Stephanie', 'Timothy', 'Rebecca', 'Jason', 'Laura', 
               'Jeffrey', 'Helen', 'Ryan', 'Sharon', 'Jacob', 'Cynthia', 'Gary', 'Kathleen', 'Nicholas', 'Amy', 
               'Eric', 'Shirley', 'Stephen', 'Angela', 'Jonathan', 'Anna', 'Larry', 'Ruth', 'Justin', 'Brenda', 
               'Scott', 'Pamela', 'Brandon', 'Nicole', 'Frank', 'Katherine', 'Benjamin', 'Samantha', 'Gregory', 
               'Christine', 'Raymond', 'Catherine', 'Samuel', 'Virginia', 'Patrick', 'Debra', 'Alexander', 'Rachel',
               'Jack', 'Janet', 'Dennis', 'Emma', 'Jerry', 'Carolyn']

last_names = ['Smith', 'Jones', 'Taylor', 'Williams', 'Brown', 'Davies', 'Evans', 'Wilson', 'Thomas', 'Roberts', 
              'Johnson', 'Lewis', 'Walker', 'Robinson', 'Wood', 'Thompson', 'White', 'Watson', 'Jackson', 'Wright', 
              'Green', 'Harris', 'Cooper', 'King', 'Lee', 'Martin', 'Clarke', 'James', 'Morgan', 'Hughes', 'Edwards', 
              'Hill', 'Moore', 'Clark', 'Harrison', 'Bailey', 'Parker', 'Miller', 'Davis', 'Murphy', 'Price', 'Bell', 
              'Baker', 'Griffiths', 'Kelly', 'Simpson', 'Marshall', 'Collins', 'Bennett', 'Cox', 'Richardson', 'Fox', 
              'Gray', 'Rose', 'Chapman', 'Hunt', 'Robertson', 'Shaw', 'Reynolds', 'Lloyd', 'Ellis', 'Richards', 
              'Russell', 'Wilkinson', 'Khan', 'Graham', 'Stewart', 'Reid', 'Murray', 'Powell', 'Scott', 'Young', 
              'Morris', 'Hall', 'Ward', 'Turner', 'Carter', 'Phillips', 'Mitchell', 'Patel', 'Adams', 'Campbell', 
              'Anderson', 'Allen', 'Cook', 'Palmer', 'Holmes', 'Rogers', 'Stevens', 'Walsh', 'Hunter', 'Thomson', 
              'Matthews', 'Owen', 'Mason', 'Knight', 'Kennedy', 'Butler', 'Saunders', 'Cole']

In [21]:
# Creating a list of full names. Randomly selected first names and surnames are joined to make the full names. 
names = [] # An empty list called names. 

for i in range(250): # A 'for' loop. This will loop 250 times.
    full_name=random.choice(first_names)+" "+random.choice(last_names) # Using random.choice to randomly select names from both lists. 
    names.append(full_name) # Appends the randomly generated full names to the emply list created earlier.

In [22]:
names

['Nancy Carter',
 'Larry Powell',
 'Jennifer Hunt',
 'Jennifer Adams',
 'Lisa Clark',
 'Richard Marshall',
 'Robert Turner',
 'Rachel Murphy',
 'Christine Kennedy',
 'Thomas Scott',
 'Emily Williams',
 'Benjamin Lloyd',
 'Rebecca Kennedy',
 'Carol Murphy',
 'Cynthia Knight',
 'Andrew Carter',
 'Jacob Clark',
 'Betty Green',
 'Scott Cole',
 'Richard Stewart',
 'Barbara Mason',
 'Jonathan Matthews',
 'Barbara White',
 'Anna Stewart',
 'Shirley Murray',
 'Jonathan Bell',
 'Samantha Graham',
 'Edward Reynolds',
 'Lisa King',
 'Donna Morris',
 'David Thompson',
 'Brian Taylor',
 'David Patel',
 'Rachel Williams',
 'Thomas Collins',
 'Emily Russell',
 'Rebecca Taylor',
 'Carol Palmer',
 'Joshua Graham',
 'Andrew Patel',
 'Sandra Cox',
 'Jennifer Mitchell',
 'Dorothy Morgan',
 'Jennifer Hill',
 'Rebecca Smith',
 'Debra Palmer',
 'Andrew Stevens',
 'Brenda Wilson',
 'Andrew Thomson',
 'Anthony Richards',
 'Frank Price',
 'Raymond Bennett',
 'Benjamin Wright',
 'Janet Shaw',
 'Carolyn Bell',
 'Catherine Robinson',
 'Rebecca Watson',
 'Anna Morris',
 'Pamela Wilkinson',
 'Debra Rose',
 'Amanda Richardson',
 'Rachel Cooper',
 'Cynthia Hunter',
 'Kevin Parker',
 'Deborah Fox',
 'Amanda Cooper',
 'Anthony Martin',
 'Sandra Lee',
 'Timothy Brown',
 'James Bailey',
 'Melissa Carter',
 'Donald Thomas',
 'Jack Watson',
 'Helen Harrison',
 'Jerry Simpson',
 'Catherine Knight',
 'Joseph Baker',
 'Samantha Brown',
 'Ryan Cole',
 'Barbara Chapman',
 'Nancy Rose',
 'Brian Marshall',
 'Stephanie Knight',
 'Lisa Clark',
 'Daniel Wilkinson',
 'Helen Phillips',
 'Susan Marshall',
 'James Kelly',
 'Ruth Smith',
 'Stephanie Phillips',
 'Richard Khan',
 'Ashley Evans',
 'Justin Saunders',
 'Carol Williams',
 'Brenda Young',
 'Timothy Adams',
 'David Martin',
 'George Harris',
 'Eric Adams',
 'John Fox',
 'Anthony Hill',
 'Rachel Carter',
 'Charles Walsh',
 'Karen Holmes',
 'Steven Cook',
 'Larry Griffiths',
 'Daniel Griffiths',
 'Jason Robertson',
 'Nicole Rogers',
 'Jeffrey Cook',
 'Shirley Carter',
 'Andrew Murray',
 'Sharon Collins',
 'Patricia Martin',
 'Mark Murray',
 'Rachel Scott',
 'Eric Cole',
 'Ryan Owen',
 'Daniel Williams',
 'Jonathan Watson',
 'Ashley Kennedy',
 'Michelle Roberts',
 'Brandon White',
 'Stephanie Griffiths',
 'Samuel Khan',
 'Emily Brown',
 'Jennifer Chapman',
 'Daniel Thompson',
 'Amanda James',
 'George Young',
 'Jason Cole',
 'David Morris',
 'Angela Harris',
 'Alexander King',
 'Elizabeth Hill',
 'Alexander Khan',
 'Gregory Davis',
 'Jacob Cooper',
 'Joshua Lewis',
 'Elizabeth Murphy',
 'Daniel Anderson',
 'Jeffrey Hall',
 'Ruth Young',
 'Deborah Davies',
 'Christine Griffiths',
 'Cynthia Thompson',
 'John Green',
 'Mark Marshall',
 'Lisa Bailey',
 'Katherine Johnson',
 'Steven Lewis',
 'Daniel Lewis',
 'Gary Hunt',
 'Edward Anderson',
 'Shirley Harris',
 'Amy Morris',
 'Charles Collins',
 'Anthony Hunter',
 'Donald Jackson',
 'Ronald Adams',
 'Kathleen Powell',
 'Katherine Bailey',
 'Christine Cooper',
 'Frank Lloyd',
 'Samantha Davies',
 'Larry Martin',
 'Dorothy Thomson',
 'Stephanie White',
 'Janet Davis',
 'Debra King',
 'Robert Ward',
 'Donna Baker',
 'Sharon Holmes',
 'Nicole Robinson',
 'Carolyn Thomson',
 'Stephanie Simpson',
 'Brenda White',
 'Katherine Hunt',
 'Debra Thompson',
 'Elizabeth Phillips',
 'Brian Carter',
 'Alexander Green',
 'Carol Miller',
 'William Richardson',
 'Eric Owen',
 'Brandon Saunders',
 'Carol Fox',
 'Samuel Hunt',
 'Brenda Harrison',
 'Carol Simpson',
 'Alexander Richards',
 'Donald Cole',
 'Emily Jackson',
 'Stephen Edwards',
 'Sarah Cox',
 'Robert Price',
 'Christine Khan',
 'Samantha Bell',
 'Jennifer Thomas',
 'Steven Murphy',
 'Amanda Walsh',
 'Katherine Wright',
 'Kimberly Parker',
 'Sandra Baker',
 'Shirley White',
 'Shirley Collins',
 'Raymond Gray',
 'James Richardson',
 'Emily Walker',
 'Nicholas Hughes',
 'Sarah Evans',
 'Ruth Lee',
 'Donna Saunders',
 'Timothy Cooper',
 'Helen Adams',
 'Rebecca Reynolds',
 'Betty Ellis',
 'Andrew Anderson',
 'Daniel Cox',
 'Nicole Cooper',
 'Karen Baker',
 'Larry Morris',
 'Joshua Matthews',
 'Kimberly White',
 'Larry Davies',
 'Sharon Kennedy',
 'Linda Shaw',
 'Jennifer Thomas',
 'Brian Powell',
 'Larry Lloyd',
 'Edward Lee',
 'Donna King',
 'Nancy Miller',
 'Cynthia Cox',
 'Ruth King',
 'Jacob Green',
 'John Thompson',
 'Catherine Bennett',
 'Brenda Hughes',
 'Raymond Shaw',
 'Donald Thomas',
 'Linda Marshall',
 'Nicole Bell',
 'Amy Davies',
 'Joshua Davis',
 'Justin Reynolds',
 'Jack Holmes',
 'Kathleen Williams',
 'Karen Bennett',
 'Frank Bennett']

#### Beats Per Minute.

## Data Frame.

# 4. Detail my research.
Detail my research and implement the simulation in a Jupyter Notebook - the data itself can simply be displayed in an output cell within the notebook.

### Reflection & Lessons.
Had some trouble creating the dataframe. Getting lists into it as well as joining or merging took some trial and error.

Distribution of bpm, normal didn't look right. tried s different one to skew the bpm results.

# Notes.
Cognitive bias - have I introduced bias into the data? How would I know? Will that make a difference to the data or the results?

Can I use SK Learn?

# References.

Source for the list of first names. 
https://www.ssa.gov/oact/babynames/decades/century.html

Source for the list of surnames.
https://surname.sofeminine.co.uk/w/surnames/most-common-surnames-in-great-britain.html

keydifferences.com https://keydifferences.com/difference-between-covariance-and-correlation.html

Creating df from lists.
https://cmdlinetips.com/2018/01/how-to-create-pandas-dataframe-from-multiple-lists/

Generating randon correlated variables.
https://stackoverflow.com/questions/18683821/generating-random-correlated-x-and-y-points-using-numpy

I used the documentation for all of the libraries several times during this project. Too many to list individually, or else the reference section would be longer than my project. By way of acknowledgement I have provided links to the documentation pages for the libraries I used. 

matplotlib.org https://matplotlib.org/index.html

numpy.org http://www.numpy.org

pandas

## END