# Programming for Data Analysis Project 2018.

# Introduction.

### Importing Libraries.

In [18]:
import random

# 1. Choose a phenomenon.
Choose a real world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.

# 2. Investigation of variables.
Investigate the types of variables involved, their likely distribution and their relationship with each other.

# 3. Synthesise a data set.
Synthesise / simulate a date set as closely matching their properties as possible.

In [30]:
# Created two lists. One of first names and one of second names. There are 100 names in each list.
first_names = ['John', 'Mary', 'James', 'Patricia', 'Robert', 'Jennifer', 'Michael', 'Linda', 'William', 
               'Elizabeth', 'David', 'Barbara', 'Richard', 'Susan', 'Joseph', 'Jessica', 'Thomas', 'Sarah', 
               'Charles', 'Margaret', 'Christopher', 'Karen', 'Daniel', 'Nancy', 'Matthew', 'Lisa', 'Anthony',
               'Betty', 'Donald', 'Dorothy', 'Mark', 'Sandra', 'Paul', 'Ashley', 'Steven', 'Kimberly', 'Andrew', 
               'Donna', 'Kenneth', 'Emily', 'George', 'Carol', 'Joshua', 'Michelle', 'Kevin', 'Amanda', 'Brian', 
               'Melissa', 'Edward', 'Deborah', 'Ronald', 'Stephanie', 'Timothy', 'Rebecca', 'Jason', 'Laura', 
               'Jeffrey', 'Helen', 'Ryan', 'Sharon', 'Jacob', 'Cynthia', 'Gary', 'Kathleen', 'Nicholas', 'Amy', 
               'Eric', 'Shirley', 'Stephen', 'Angela', 'Jonathan', 'Anna', 'Larry', 'Ruth', 'Justin', 'Brenda', 
               'Scott', 'Pamela', 'Brandon', 'Nicole', 'Frank', 'Katherine', 'Benjamin', 'Samantha', 'Gregory', 
               'Christine', 'Raymond', 'Catherine', 'Samuel', 'Virginia', 'Patrick', 'Debra', 'Alexander', 'Rachel',
               'Jack', 'Janet', 'Dennis', 'Emma', 'Jerry', 'Carolyn']

last_names = ['Smith', 'Jones', 'Taylor', 'Williams', 'Brown', 'Davies', 'Evans', 'Wilson', 'Thomas', 'Roberts', 
              'Johnson', 'Lewis', 'Walker', 'Robinson', 'Wood', 'Thompson', 'White', 'Watson', 'Jackson', 'Wright', 
              'Green', 'Harris', 'Cooper', 'King', 'Lee', 'Martin', 'Clarke', 'James', 'Morgan', 'Hughes', 'Edwards', 
              'Hill', 'Moore', 'Clark', 'Harrison', 'Bailey', 'Parker', 'Miller', 'Davis', 'Murphy', 'Price', 'Bell', 
              'Baker', 'Griffiths', 'Kelly', 'Simpson', 'Marshall', 'Collins', 'Bennett', 'Cox', 'Richardson', 'Fox', 
              'Gray', 'Rose', 'Chapman', 'Hunt', 'Robertson', 'Shaw', 'Reynolds', 'Lloyd', 'Ellis', 'Richards', 
              'Russell', 'Wilkinson', 'Khan', 'Graham', 'Stewart', 'Reid', 'Murray', 'Powell', 'Scott', 'Young', 
              'Morris', 'Hall', 'Ward', 'Turner', 'Carter', 'Phillips', 'Mitchell', 'Patel', 'Adams', 'Campbell', 
              'Anderson', 'Allen', 'Cook', 'Palmer', 'Holmes', 'Rogers', 'Stevens', 'Walsh', 'Hunter', 'Thomson', 
              'Matthews', 'Owen', 'Mason', 'Knight', 'Kennedy', 'Butler', 'Saunders', 'Cole']

In [31]:
# Creating a list of full names. Randomly selected first names and surnames are joined to make the full names. 
names = [] # An empty list called names. 

for i in range(250): # A 'for' loop. This will loop 250 times.
    full_name=random.choice(first_names)+" "+random.choice(last_names) # Using random.choice to randomly select names from both lists. 
    names.append(full_name) # Appends the randomly generated full names to the emply list created earlier.

# 4. Detail my research.
Detail my research and implement the simulation in a Jupyter Notebook - the data itself can simply be displayed in an output cell within the notebook.

# Notes.
Cognitive bias - have I introduced bias into the data? How would I know? Will that make a difference to the data or the results?

Can I use SK Learn?

# References.

Source for the list of first names. 
https://www.ssa.gov/oact/babynames/decades/century.html

Source for the list of surnames.
https://surname.sofeminine.co.uk/w/surnames/most-common-surnames-in-great-britain.html